#calculator {
  display: grid;
  // position: relative;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 5px solid rgb(168, 89, 89);
  border-radius: 16px;
  width: 400px;
  height: 600px;
  margin: 0 auto;
  background-color: lightcoral;

  overflow: hidden;
  z-index: 200;

  box-sizing: border-box;
  justify-content: center;

  & > * {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & > :first-child {
    justify-content: end;
    align-items: end;
    min-height: 0;
    min-width: 0;
  }
}
